<div class="container mt-5">
  <app-post></app-post>


  <div class="row">
        <div class="col-md-8 mx-auto">
                        <div class="mt-5">
                          <textarea type="text" id="form1" placeholder="Comment..." class="md-textarea form-control" mdbInput></textarea>
                        </div>
                        <div class="d-flex flex-row-reverse">
                              <div>
                                  <button type="button" size="sm" mdbBtn color="blue-grey" mdbWavesEffect>Comment</button>
                              </div>
                            </div>
        </div>
        <div class="col-md-8 mx-auto mt-4">
            <app-comment></app-comment>
        </div>

    </div>


</div>


